*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}
nav{
    background-color: #ccc;
}
ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
ul li{
    padding: 20px;
}
ul li a{
    text-decoration: none;
    font-size: 25px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    flex-direction: column;
}
footer{
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}