{% extends './layouts/base.html' %}

{% block title %}Román Danchuk{% endblock %}

{% block main %}
    <h1>Trabajos</h1>
    <p>
        Aquí veran todos mis trabajos, espero sea de su agrado y pueda
        considerarme para sus eventos casuales e íntimos.
        cualquier consulta pueden contactarse a los siguiente enlaces.
    </p>
    <ul class="muestra">
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">X</a></li>
        <li><a href="#">Correo gmail</a></li>
    </ul>
{% endblock %}
