/* VARIABLES DE ENTORNO */

:root{
    --color-primario: #2ea3f2;
    --color-secundario: ;
    --color-text:#666 ;
    --font-main: 'Times New Roman', Times, serif;
    --font-text: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
    color: var(--color-text);
}

/* SELECTORES */

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-main);
}

nav{
    display: flex;
    width: 100vw;
    height: 80px;
    background-color: var(--color-primario);
}

nav ul{
    list-style-type: none;
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

nav ul li a:hover{
    color: var(--color-text);
}

nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: var(--font-main);
}

main{
    display: flex;
    width: 100%;
    padding: 50px;
    justify-content: center;
    align-items: start;
}

.list{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-text);
    width: 50%;
    list-style-type: none;
}

.list li{
    padding: 15px;
    border-bottom: 1px solid var(--color-text);
}