<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Elementos ordenados por email</h3>
    <ul>
        {% for order in orders %}
        <li>{{ order.email }}</li>
        {% endfor %}
    </ul>

    <h3>Elementos con ID <= 15</h3>
    <ul>
        {%for elm in filtered2%}
        <li>{{elm.name}}</li>
        {%endfor%}
    </ul>

    <h3>Elementos con "yes" en su nombre</h3>
    <ul>
        {%for elm in filtered3%}
        <li>{{elm.name}}</li>
        {%endfor%}
    </ul>

    <h3>Offsets</h3>
    <ul>
        {% for offset in offsets%}
        <li>{{offset.email}}</li>
        {%endfor%}
    </ul>
    <h3>Todos los autores:</h3>
    <ul>
        {% for author in authors %}
        <li>{{author.name}} ({{author.email}})</li>
        {% endfor %}
    </ul>
    <h3>Total de autores: {{authors|length}}</h3>
    <h3>Todas las entradas</h3>
    <ul>
        {% for entry in entrys%}
        <li>{{entry.headline}} ({{entry.public_date}})</li>
        {%  endfor%}
    </ul>
    <h3>Total de entradas: {{entrys|length}}</h3>
</body>
</html>